/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background Gradient */
html {
    height: 100%;
    background: linear-gradient(180deg, #ebfff5, #a2c1a7);
}

body {
    font-family: "Lato", sans-serif;
    color: #57684f;
    text-align: center;
    padding-top: 60px;
    min-height: 100%;
    background-image: linear-gradient(to bottom, white 93%, #d1dfca 100%);
    width: 100%;
    overflow-x: hidden;
}

/* Navbar Styling */
nav {
    background: linear-gradient(to bottom, #d1dfca 0.5%, rgba(182, 166, 230, 0) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 60px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #a2c1a7;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2e4231;
    color: white;
}

.logo img {
    max-width: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.active {
    background-color: #3b703c;
    color: white;
}

/* Header Styling */
header {
    padding: 60px 0; 
    position: relative;
}

h1 {
    font-size: 2.5rem; 
    text-shadow: 2px 2px #f4f1fb;
    font-family: "Playfair Display";
    margin: 20px 0 0; 
}

h3 {
    margin-top: 20px; 
    font-size: 1.5rem; 
    opacity: 0; 
    animation: fadeIn 1.5s ease-in forwards; 
    animation-delay: 0.5s; 
}

p {
    font-size: 1rem;
}

/* Button Styling */
#start-session {
  background-color: #FFFFFF;
  border: 1px solid rgb(209, 249, 217);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #2e4231;
  font-family: "Lato", sans-serif;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin: 10px;
}

#start-session:hover {
  background-color: rgb(235, 247, 241);
}

#start-session:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#start-session:focus-visible {
  box-shadow: none;
}

#timer-font {
    font-size: 1rem;
}

/* Footer Styling */
footer {
    color: rgb(97, 131, 97);
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer .socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .socials a:hover {
    text-decoration: underline;
}

.timer-container {
    margin: auto;
    margin-top: 50px;
}