/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background Gradient */
html {
    height: 100%;
    background: linear-gradient(180deg, #ebfff5, #a2c1a7);
}

body {
    font-family: "Lato", sans-serif;
    color: #57684f;
    text-align: center;
    padding-top: 60px;
    min-height: 100%;
    background-image: linear-gradient(to bottom, white 93%, #d1dfca 100%);
    width: 100%;
    overflow-x: hidden;
}

/* Navbar Styling */
nav {
    background: linear-gradient(to bottom, #d1dfca 0.5%, rgba(182, 166, 230, 0) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 60px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #a2c1a7;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2e4231;
    color: white;
}

.logo img {
    max-width: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.active {
    background-color: #3b703c;
    color: white;
}

/* Header Styling */
header {
    padding: 60px 0; 
    position: relative;
}

h1 {
    font-size: 2.5rem; 
    text-shadow: 2px 2px #f4f1fb;
    font-family: "Playfair Display";
    margin: 20px 0 0; 
}

h3 {
    margin-top: 20px; 
    font-size: 1.5rem; 
    opacity: 0; 
    animation: fadeIn 1.5s ease-in forwards; 
    animation-delay: 0.5s; 
}

/* Footer Styling */
footer {
    color: rgb(97, 131, 97);
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer .socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .socials a:hover {
    text-decoration: underline;
}